---
http_interactions:
- request:
    method: get
    uri: https://erikberg.com/nba/leaders//points.json?limit=15&qualified=true&season_type=regular
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 263076d4-1d59-4c71-94fd-7df39ee48560
  response:
    status:
      code: 200
      message: OK
    headers:
      Xmlstats-Api-Method:
      - nba leaders
      Xmlstats-Api-Exec-Time:
      - '3'
      Xmlstats-Api-Limit:
      - ''
      Etag:
      - '1894434277'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "[ {\n  \"last_name\" : \"Anthony\",\n  \"first_name\" : \"Carmelo\",\n
        \ \"display_name\" : \"Carmelo Anthony\",\n  \"rank\" : 1,\n  \"value\" :
        28.66,\n  \"team\" : {\n    \"team_id\" : \"new-york-knicks\",\n    \"abbreviation\"
        : \"NY\",\n    \"active\" : true,\n    \"first_name\" : \"New York\",\n    \"last_name\"
        : \"Knicks\",\n    \"conference\" : \"East\",\n    \"division\" : \"Atlantic\",\n
        \   \"site_name\" : \"Madison Square Garden\",\n    \"city\" : \"New York\",\n
        \   \"state\" : \"New York\",\n    \"full_name\" : \"New York Knicks\"\n  }\n},
        {\n  \"last_name\" : \"Durant\",\n  \"first_name\" : \"Kevin\",\n  \"display_name\"
        : \"Kevin Durant\",\n  \"rank\" : 2,\n  \"value\" : 28.15,\n  \"team\" : {\n
        \   \"team_id\" : \"oklahoma-city-thunder\",\n    \"abbreviation\" : \"OKC\",\n
        \   \"active\" : true,\n    \"first_name\" : \"Oklahoma City\",\n    \"last_name\"
        : \"Thunder\",\n    \"conference\" : \"West\",\n    \"division\" : \"Northwest\",\n
        \   \"site_nam[...]
