---
http_interactions:
- request:
    method: get
    uri: https://erikberg.com/nba/standings.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 263076d4-1d59-4c71-94fd-7df39ee48560
  response:
    status:
      code: 200
      message: OK
    headers:
      Xmlstats-Api-Method:
      - standings
      Xmlstats-Api-Exec-Time:
      - '7'
      Xmlstats-Api-Limit:
      - ''
      Etag:
      - '1475823018'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"standings_date\" : \"2013-04-18T00:00:00-04:00\",\n  \"standing\"
        : [ {\n    \"rank\" : 1,\n    \"won\" : 66,\n    \"lost\" : 16,\n    \"streak\"
        : \"W8\",\n    \"ordinal_rank\" : \"1st\",\n    \"first_name\" : \"Miami\",\n
        \   \"last_name\" : \"Heat\",\n    \"games_back\" : 0.0,\n    \"points_for\"
        : 8436,\n    \"points_against\" : 7791,\n    \"home_won\" : 37,\n    \"home_lost\"
        : 4,\n    \"away_won\" : 29,\n    \"away_lost\" : 12,\n    \"conference_won\"
        : 41,\n    \"conference_lost\" : 11,\n    \"last_five\" : \"5-0\",\n    \"last_ten\"
        : \"9-1\",\n    \"conference\" : \"EAST\",\n    \"division\" : \"SE\",\n    \"points_scored_per_game\"
        : \"102.9\",\n    \"points_allowed_per_game\" : \"95.0\",\n    \"win_percentage\"
        : \".805\",\n    \"point_differential\" : 645,\n    \"point_differential_per_game\"
        : \"7.9\",\n    \"streak_type\" : \"win\",\n    \"streak_total\" : 8,\n    \"games_played\"
        : 82\n  }, {\n    \"rank\" : 2,\n    \"won\" : 54,\n    \"lost\" : 28,\n    \"streak\"
        : \"W1\",\n    \"ordinal_rank\" : \"2nd\",\n    \"first_name\" : \"New York\",\n
        \   \"last_name\" : \"Knicks\",\n    \"games_back\" : 12.0,\n    \"points_for\"
        : 8196,\n    \"points_against\" : 7849,\n    \"home_won\" : 31,\n    \"home_lost\"
        : 10,\n    \"away_won\" : 23,\n    \"away_lost\" : 18,\n    \"conference_won\"
        : 37,\n    \"conference_lost\" : 15,\n    \"last_fi[...]
