---
http_interactions:
- request:
    method: get
    uri: https://erikberg.com/nba/teams.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 263076d4-1d59-4c71-94fd-7df39ee48560
  response:
    status:
      code: 200
      message: OK
    headers:
      Xmlstats-Api-Method:
      - teams
      Xmlstats-Api-Exec-Time:
      - '5'
      Xmlstats-Api-Limit:
      - ''
      Etag:
      - '1007298640'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "[ {\n  \"team_id\" : \"atlanta-hawks\",\n  \"abbreviation\" : \"ATL\",\n
        \ \"active\" : true,\n  \"first_name\" : \"Atlanta\",\n  \"last_name\" : \"Hawks\",\n
        \ \"conference\" : \"East\",\n  \"division\" : \"Southeast\",\n  \"site_name\"
        : \"Philips Arena\",\n  \"city\" : \"Atlanta\",\n  \"state\" : \"Georgia\",\n
        \ \"full_name\" : \"Atlanta Hawks\"\n}, {\n  \"team_id\" : \"boston-celtics\",\n
        \ \"abbreviation\" : \"BOS\",\n  \"active\" : true,\n  \"first_name\" : \"Boston\",\n
        \ \"last_name\" : \"Celtics\",\n  \"conference\" : \"East\",\n  \"division\"
        : \"Atlantic\",\n  \"site_name\" : \"TD Garden\",\n  \"city\" : \"Boston\",\n
        \ \"state\" : \"Massachusetts\",\n  \"full_name\" : \"Boston Celtics\"\n},
        {\n  \"team_id\" : \"brooklyn-nets\",\n  \"abbreviation\" : \"BKN\",\n  \"active[...]
