---
http_interactions:
- request:
    method: get
    uri: https://erikberg.com/nba/boxscore//20120621-oklahoma-city-thunder-at-miami-heat.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 263076d4-1d59-4c71-94fd-7df39ee48560
  response:
    status:
      code: 200
      message: OK
    headers:
      Xmlstats-Api-Method:
      - nba box score
      Xmlstats-Api-Exec-Time:
      - '58'
      Xmlstats-Api-Limit:
      - ''
      Etag:
      - '341031034'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"away_team\" : {\n    \"team_id\" : \"oklahoma-city-thunder\",\n
        \   \"abbreviation\" : \"OKC\",\n    \"active\" : true,\n    \"first_name\"
        : \"Oklahoma City\",\n    \"last_name\" : \"Thunder\",\n    \"conference\"
        : \"West\",\n    \"division\" : \"Northwest\",\n    \"site_name\" : \"Chesapeake
        Energy Arena\",\n    \"city\" : \"Oklahoma City\",\n    \"state\" : \"Oklahoma\",\n
        \   \"full_name\" : \"Oklahoma City Thunder\"\n  },\n  \"home_team\" : {\n
        \   \"team_id\" : \"miami-heat\",\n    \"abbreviation\" : \"MIA\",\n    \"active\"
        : true,\n    \"first_name\" : \"Miami\",\n    \"last_name\" : \"Heat\",\n
        \   \"conference\" : \"East\",\n    \"division\" : \"Southeast\",\n    \"site_name\"
        : \"AmericanAirlines Arena\",\n    \"city\" : \"Miami\",\n    \"state\" :
        \"Florida\",\n    \"full_name\" : \"Miami Heat\"\n  },\n  \"away_period_scores\"
        : [ 26, 23, 22, 35 ],\n  \"home_period_scores\" : [ 31, 28, 36, 26 ],\n  \"away_stats\"
        : [ {\n    \"last_name\" : \"Durant\",\n    \"first_name\" : \"Kevin\",\n
        \   \"display_name\" : \"Kevin Durant\",\n    \"position\" : \"SF\",\n    \"minutes\"
        : 43,\n    \"points\" : 32,\n    \"assists\" : 3,\n    \"turnovers\" : 7,\n
        \   \"steals\" : 2,\n    \"blocks\" : 1,\n    \"field_goals_attempted\" :
        24,\n    \"field_goals_made\" : 13,\n    \"three_point_field_goals_attempted\"
        : 6,\n    \"three_point_field_goals_made\" : 3,\n    \"free_throws_attempted\"
        : 3,\n    \"free_throws_made\" : 3,\n    \"defensive_rebounds\" : 9,\n    \"offensive_rebounds\"
        : 2,\n    \"personal_fouls\" : 5,\n    \"team_abbreviation\" : \"OKC\",\n
        \   \"is_starter\" : true,\n    \"free_throw_percentage\" : 1.0,\n    \"field_goal_percentage\"
        : 0.542,\n    \"three_point_percentage\" : 0.5\n  }, {\n    \"last_name\"
        : \"Westbrook\",\n    \"first_name\" : \"Russell\",\n    \"display_name\"
        : \"Russell Westbrook\",\n    \"position\" : \"PG\",\n    \"minutes\" : 43,\n
        \   \"points\" : 19,\n    \"assists\" : 6,\n    \"turnovers\" : 2,\n    \"steals\"
        : 2,\n    \"blocks\" : 0,\n    \"field_goals_attempted\" : 20,\n    \"field_goals_made\"
        : 4,\n    \"three_point_field_goals_attempted\" : 5,\n    \"three_point_field_goals_made\"
        : 0,\[...]
